@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');


:root{
  --primary-white: #fff;
  --primary-orange: #f9ab00;
}

body{
  font-family:"Courier new" sans-serif;
}

/**********Menu links************/
 .navbar-nav > li >a{
 
 margin:  1.25rem;
}
nav ul li{
  text-transform: uppercase;
}
.container a{
  color: var(--primary-white)  !important;
  
}
.container a:hover{
 
  border-top: 0.1875rem solid var(--primary-orange) ;
}

@media screen and(max-width: 500px 750px){
  
  .container a:hover{
 
    border-top: 0.1875rem solid var(--primary-orange) ;
  }
}

